@inject IHttpContextAccessor HttpContextAccessor


<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            @if (HttpContextAccessor.HttpContext.Session.GetString("token") != string.Empty)
            {


                <li class="nav-title">Կառավարման մենյու</li>
                <li class="nav-item">
                    <a class="nav-link" href="/Management/Applications">
                        <i class="nav-icon icon-note"></i> Applications
                    </a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/Management/Owners">
                        <i class="nav-icon icon-people"></i> Owners
                    </a>
                </li>
            }
            <li class="nav-item mt-auto">
                <a target="_blank" class="nav-link nav-link-success" href="https://www.mersoft.am/hy">
                    <i class="nav-icon icon-globe"></i>WEB կայք
                </a>
            </li>
            @if (HttpContextAccessor.HttpContext.Session.GetString("token") != string.Empty)
            {
                <li class="nav-item">
                    <a class="nav-link nav-link-info" href="/Login/Logout" target="_top">
                        <i class="nav-icon icon-logout"></i> ԵԼՔ համակարգից
                    </a>
                </li>
            }
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>